extends layout

block scripts
  script(src='/bower_components/c3/c3.min.js')
  script(src='/bower_components/d3/d3.min.js')
  script(src='/bower_components/matchHeight/dist/jquery.matchHeight-min.js')

block nav
  .layout-pf.layout-pf-fixed
    nav(class='navbar navbar-pf', role='navigation')
      .navbar-header
        button(type='button' class='navbar-toggle' data-target='navbarCollapseId1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/', class='navbar-brand') 
          h1= title
      #navbarCollapseId1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.navbar-utility

block content
  .container-fluid.container-cards-pf
    br
    input(data-provide="datepicker", id='start-date', class='datepicker')
    input(data-provide="datepicker", id='end-date', class='datepicker')
    button(type="button", id="dateFilterButton", value="Filter By Date")= "Filter By Date"
    nav(aria-label='...', style='text-align: center')
      ul.pagination
        - var n = 1
        while n <= numPages
          li.page-item
            span.page-link= n++
    - var imagesArray = JSON.parse(images);
    if imagesArray.length < 1
      .blank-slate-pf
        .blank-slate-pf-icon
          .fa.fa-ban
          p #[strong No Images Found]
    else
      .row.row-cards-pf
      each image in imagesArray ? imagesArray: ['DANGER-WILL-ROBINSON']
        //.col-xs-12.col-sm-6.col-md-4.col-lg-3
        .col-xs-12.col-sm-4.col-md-3.col-lg-2
          .card-pf.card-pf-view(data-date=image.LastModified)
            .card-pf-body
              .card-pf-top-element
                  img(src=image.fullUrl, alt='Image could not be rendered', style='max-height: 100%; width: 100%; object-fit: contain;')
    

  div(class='modal' id='adds3bucket' tabindex='-1' role='dialog')
    .modal-dialog.modal-lg.wizard-pf
      .modal-content
        .modal-header
          button(type='button' class='close' data-dismiss='modal' aria-hidden='true' aria-label='Close')
            span.pficon.pficon-close
          h4.modal-title Add S3 Bucket
        .modal-body.wizard-pf-body.clearfix
          .wizard-pf-row
            .wizard-pf-main
              .wizard-pf-contents
                form.form-horizontal
                  .form-group.required
                    label(class='col-sm-2 control-label' for='textInput-markup') Name
                    .col-sm-10
                      input(type='text' name='bucketNameTextInput' id='bucketNameTextInput' data-id='textInput-markup' class='form-control')
              h4 Currently working on adding buckets dynamically, for now please use ENV vars

        .modal-footer.wizard-pf-footer
          button(type='button' class='btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss') Cancel
          button(type='button' class='btn btn-primary wizard-pf-add disabled') Add

  script(type='text/javascript').
    $(document).ready(function() {
      $('.datepicker').datepicker();
      $('#dateFilterButton').click(function() {
        console.log($(this).val());
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.set('start_date', $('#start-date').val());
        urlParams.set('end_date', $('#end-date').val());
        document.location.href = '/?' + urlParams.toString();
      });
      $('.page-link').click(function() {
        var start = $('#start-date').val();
        var end = $('#end-date').val();
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page', $(this).text());
        document.location.href = '/?' + urlParams.toString();
      });

      // matchHeight the contents of each .card-pf and then the .card-pf itself
      $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
      // initialize tooltips
      $('[data-toggle="tooltip"]').tooltip();

      //$().setupVerticalNavigation(true);

      // Setup modal popup wizard
      var addBucketWizard = new wizard(".btn.wizard-pf-complete");
    });

    var wizard = function(id) {
      var self = this, modal, contents;
      self.id = id;
      $(self.id).click(function() {
          self.init(this)
      });
      this.init = function(button){
        // get id of open modal
        self.modal = $(button).data("target");
        // open modal and start looking for button clicks
        $(self.modal).modal('show');
        self.addBtnClick();
        self.cancelBtnClick();
      };
      // Add button clicked
      this.addBtnClick = function() {
        $(self.modal + " .wizard-pf-add").click(function() {
          // TODO add bucket to the list
          var bucketname = $('input[name=bucketNameTextInput]').val();
          console.log('trying to add bucket ' + bucketname)
        });
      };
      // Cancel/Close button clicked
      this.cancelBtnClick = function() {
        $(self.modal + " .wizard-pf-dismiss").click(function() {
          // close the modal stop listening for button clicks
          $(self.modal).modal('hide');
          $(self.modal + " .wizard-pf-add").off("click");
          $(self.modal + " .wizard-pf-dismiss").off("click");
        });
      };
    };
